.DS_Store
venv

# Ignore compiled Python files
*.pyc

# Ignore development-related files and directories
__pycache__/
*.sqlite3
*.env

# Ignore IDE files
.idea/

# Ignore static files
/static/

# Ignore log files
*.log

# Ignore virtual environment files (assuming you use virtualenv or venv)
env/
.env



general.log

db.sqlite3
